@media (min-width: 1151px) {
	// ::-webkit-scrollbar-track {
	// 	-webkit-box-shadow: inset 0 0 6px rgba(34, 29, 72, 1);
	// 	border-radius: 10px;
	// 	background-color: #100B38;
	// }

	// ::-webkit-scrollbar {
	// 	width: 12px;
	// 	background-color: #100B38;
	// 	height: 10px;
	// }

	// ::-webkit-scrollbar-thumb {
	// 	border-radius: 10px;
	// 	-webkit-box-shadow: inset 0 0 6px #EFEFEF;
	// 	background-color: #EFEFEF;
	// }
}

* {
	box-sizing: border-box !important;
	background-repeat: no-repeat !important;
	word-break: break-word !important;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	// overflow-y: scroll;
	font-family: Noto Serif;
	// position: relative;
}

div,
li,
p,
a,
span,
section,
button {
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

h1,
h2 {
	font-family: Noto Serif;
	font-size: 50px;
	font-weight: 600;
	line-height: 70px;
	text-align: left;
	color: #000;
	word-wrap: break-word;
}

h1.title,
h2.title {
	display: block;
	margin: 0 auto;
	margin-bottom: 60px;
	width: 100%;
	max-width: 1330px;
	padding: 0 20px;
	text-transform: uppercase;
	word-break: break-word;
}

h1.title_1 {
	max-width: none;
	padding: 0;
	margin: 0;
}

h2.title {
	margin: 0;
	max-width: none;
	padding: 0;
}

@media (max-width: 600px) {

	h1,
	h2 {
		font-family: Noto Serif;
		font-size: 34px;
		font-weight: 600;
		line-height: 56px;
		text-align: left;
	}

	h1.title,
	h2.title {
		display: block;
		margin-bottom: 40px;
	}

	h1.title_1 {
		max-width: none;
		padding: 0;
		margin: 0;
	}

	h2.title {
		margin: 0;
		max-width: none;
		padding: 0;
	}
}

h3,
h4,
h5,
h6 {
	font-family: Manrope;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-align: left;
}

a {
	text-decoration: none;
	transition: .5s;
	cursor: pointer;
	color: #000;
}

a:hover {
	color: #DB3B16 !important;
}

.padding {
	padding: 0 15px
}

main {
	padding: 0;
	margin: 0;
}

.white {
	color: #FFF;
}

.black {
	color: #1D1D1D;
}

.flex {
	display: flex;
}

.flex_direct {
	flex-direction: column;
}

.flex_center {
	justify-content: center;
}

.max-width {
	width: 100%;
	max-width: 1290px;
}

.center {
	margin: 0 auto;
}

.default {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto 50px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.default a {
	color: #07f;
	text-decoration: underline;
	display: inline-block;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.default p {
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.default ul {
	list-style-position: inside;
	padding-left: 1.2rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.default ol {
	list-style-position: inside;
	padding-left: 0;
}

.default ul li {
	list-style: disc;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.default ul li::marker {
	color: #000;
}

.default table {
	width: 100%;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.default caption {
	border-bottom: none;
	background-color: #908ea3;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.default thead th {
	background-color: #908ea3;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.default tbody td {
	background-color: #d4d4da;
	text-align: center;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

@media (max-width: 550px) {
	.default h3 {
		font-family: Manrope;
		font-size: 24px;
		font-weight: 700;
		line-height: 36px;
		text-align: left;
	}

	.default ul li,
	.default p,
	.default a {
		font-family: Manrope;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
}

a.box-cont {
	cursor: pointer;
}

a.button {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;
	max-width: 410px;
	height: 60px;
	align-items: center;
	color: #111827;
	transition: all .5s;
	cursor: pointer;
	font-family: Manrope;
	font-size: 14px;
	font-weight: 600;
	line-height: 19.6px;
	text-align: left;
	text-transform: uppercase;
	border: 1px solid #DB3B16;
}

a.button:hover {
	background-color: #B62E0E;
	color: #FFF !important;
	transition: all .5s;
	border: 1px solid #B62E0E;
}

@media (max-width: 900px) {
	a.button {
		// max-width: 300px;
		// height: 50px;
		font-family: Manrope;
		font-size: 14px;
		font-weight: 600;
		line-height: 19.6px;
		text-align: left;
	}
}

a.button_2 {
	background-color: #DB3B16;
	color: #FFF !important;
	border: none;
}

@media (max-width: 500px) {
	a.button_3 {
		max-width: none;
	}
}

.img {
	overflow: hidden;
}

.invise {
	display: none !important;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 11;
	// background-color: #013C38;
	// padding: 50px;
	// max-width: min-content;
	visibility: hidden;
	opacity: 0;
	transition: .5s;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: max-content;
	padding: 0 20px;

	.popup__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: auto;
		position: relative;

		img {
			object-fit: contain;
			object-position: center;
			border: 50px solid #013C38;
			width: 100%;
			max-width: min-content;
			max-height: 90vh;
			display: flex;
			position: relative;


		}

		.close-btn {
			position: absolute;
			right: 49px;
			top: 49px;
			z-index: 3;
			cursor: pointer;
		}

		.close-btn:hover {
			path {
				opacity: .5;
			}
		}



		@media (max-width: 700px) {
			img {
				border: 15px solid #013C38;
			}

			.close-btn {
				position: absolute;
				right: 14px;
				top: 14px;
				z-index: 3;
				width: 35px;
				height: 35px;
			}
		}
	}

}

.popup.open {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: .5s;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
}