.dovg {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 100px 0;
    border-bottom: 1px solid #DCDCDC;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .cont {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .cont_1 {
            width: 100%;
            max-width: 370px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-family: Manrope;
                font-size: 18px;
                font-weight: 500;
                line-height: 24.59px;
                text-align: left;
                text-transform: uppercase;
            }

            h3 {
                font-family: Noto Serif;
                font-size: 50px;
                font-weight: 600;
                line-height: 70px;
                text-align: left;
                text-transform: uppercase;
                word-break: break-all;
            }
        }

        .cont_2 {
            width: 100%;
            max-width: 635px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
                font-family: Manrope;
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                text-align: left;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                list-style: disc;

                li {
                    list-style: disc;
                    margin-left: 20px;
                    padding-left: 10px;
                }

                li::marker {
                    color: #DB3B16;
                }
            }
        }
    }

    .dovgSwiper {
        width: 100%;
        // margin: 0;

        .swiper-wrapper {}

        .swiper-slide {
            width: 260px;

            p {
                font-family: Noto Serif;
                font-size: 36px;
                font-weight: 700;
                line-height: 35.96px;
                text-align: left;
                color: #DB3B16;
                display: flex;
                align-items: end;
                word-break: normal !important;

                span {
                    font-family: Noto Serif;
                    font-size: 80px;
                    font-weight: 700;
                    line-height: 72.96px;
                    text-align: left;
                    max-width: none;
                    margin-right: 10px;
                    word-break: normal !important;
                }
            }

            span {
                display: block;
                margin-top: 15px;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
            }
        }
    }

    .dovgSwiper_2 {
        width: 100%;
        // margin: 0;

        .swiper-wrapper {
            display: flex;
            // justify-content: space-between;
            width: 100%;
            max-width: 1290px;
            flex-wrap: wrap;
            gap: 20px 55px;
        }

        .swiper-slide {
            width: 280px;

            p {
                font-family: Noto Serif;
                font-size: 36px;
                font-weight: 700;
                line-height: 35.96px;
                text-align: left;
                color: #DB3B16;
                display: flex;
                align-items: end;
                word-break: normal !important;

                span {
                    font-family: Noto Serif;
                    font-size: 80px;
                    font-weight: 700;
                    line-height: 72.96px;
                    text-align: left;
                    max-width: none;
                    margin-right: 10px;
                    word-break: normal !important;
                }
            }

            span {
                display: block;
                margin-top: 15px;
                font-family: Manrope;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
            }
        }
    }
}

@media (max-width: 1330px) {
    .dovg .dovgSwiper {
        // justify-content: center;
        padding-right: 20px;
    }
}

@media (max-width: 850px) {
    .dovg .cont {
        flex-direction: column;
    }

    .dovg .cont .cont_1 {
        span {
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: 21.86px;
            text-align: left;
        }

        h3 {
            font-family: Noto Serif;
            font-size: 40px;
            font-weight: 600;
            line-height: 56px;
            text-align: left;
        }
    }

    .dovg .cont .cont_2 {
        h4 {
            font-family: Manrope;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
            text-align: left;
        }
    }

    .dovg .cont .cont_2 ul li {
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }
}